@media only screen and (min-width: 1480px){
	.width{
		width: 1480px;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1479px){
	.width{
		width: 1180px;
	}
}
@media only screen and (max-width: 1179px) {
	.head-bar .top .link,#content .recom-item,#nav .turn-list{
		display: none;
	}
	#head .top .links-btn{
		display: block;
	}
	
}

@media only screen and (min-width: 880px) and (max-width: 1179px){
	.width{
		width: 880px;
	}	
	
}
@media only screen and (max-width: 879px){
	.width{
		width: 580px;
	}
}
/*@media only screen and (max-width: 399px) {
	.width{
		width: 220px;
		height: 50px;
		background: #E188C0;
	}
}*/